<div class="row">
  <alert class="col-md-10 col-md-push-1" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<p></p>
<p></p>

<div class="row" ng-controller="SessionCtrl">
  <form name="newSession" class="col-md-6 col-md-push-3" role="form"  ng-submit="login(session)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : newSession.email.$invalid && !newSession.email.$pristine }">
      Email: <input type="text" name="email" ng-model="session.email" class="form-control" required />
    </div>

    <div class="form-group" ng-class="{ 'has-error' : newSession.password.$invalid && !newSession.password.$pristine }">
      Contraseña:
      <input type="password" name="password" ng-model="session.password" class="form-control" required />
    </div>

    <div class="form-group">
      <button class="btn btn-success" type="submit" ng-disabled="newSession.$invalid || isUnchanged(form)">Ingresar</button>
    </div>
  </form>
</div>