<div class="row" ng-controller="CalendarioCtrl">
	<div class="col-md-10 col-md-push-1" ng-init="init()">
		<div class="row">
    		<pre>Dia seleccionado: <em>{{dt | date:'fullDate' }}</em></pre>
    	</div>
    
    	<div class="row">
    		<h4>Inline</h4>
    		<div class="col-md-4" style="display:inline-block; min-height:290px;">
        		<datepicker ng-change="selectDay()" ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
    		</div>
			
			<div class="col-md-8">
				<div class="row" ng-repeat="e in eventos">
					<div class="thumbnail" ng-click="dialog_show(item)">
						<div class="caption">
							<h3>{{e.titulo}}</h3>
							<h5 class="ellipsis">{{e.descripcion}}</h5>
							<h6>
								{{e.hora}}
							</h6>
						</div>
					</div>
				</div>
			</div>
    	</div>
    </div>
</div>