<p></p>
<div class="row" ng-controller="EventosCtrl" ng-init="show()">
	<div class="col-md-10 col-md-push-1">
		<div class="thumbnail">
			<div class="caption">
				<h3>{{evento.titulo}} {{evento.id}}</h3>
				<p>{{evento.descripcion}}</p>
				<p>{{evento.dia}}/{{evento.mes}} - {{evento.hora}}</p>

				<div class="thumbnail">
					<div class="caption">
						<h3>Invitados ({{evento.users.length}})</h3>
						<div ng-repeat="user in evento.users">
							<p>{{user.email}}</p>
						</div>
					</div>
				</div>

				<div class="thumbnail" ng-controller="ComentariosCtrl" ng-init="init(evento.id)">
					<div class="caption">
						<h3>Actividad</h3>
						<div ng-repeat="comentario in comentarios">
							<div class="panel panel-primary">
								<div class="panel-body">
							    <div class="comment">{{comentario.user.email}} -> <span>{{comentario.titulo}}</span></div>
							  </div>
							</div>
							
						</div>

						<div >
							<form name="newComentario" class="form-inline" role="form"  ng-submit="crear(form, evento.id)" novalidate>
							    <div class="form-group" ng-class="{ 'has-error' : newComentario.titulo.$invalid && !newComentario.titulo.$pristine }">
							    	<input type="text" name="titulo" ng-model="form.titulo" class="form-control" required />
							    </div>

							    <div class="form-group">
							      <button class="btn btn-success" type="submit" ng-disabled="newComentario.$invalid || isUnchanged(form)">Comentar</button>
							    </div>
						  </form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>