<p></p>

<div class="row">
	<div class="col-md-10 col-md-push-1">
		<form name="newEvento" class="" role="form"  ng-submit="crear(form)" novalidate>
			<div class="form-group" ng-class="{ 'has-error' : newEvento.titulo.$invalid && !newEvento.titulo.$pristine }">
				<input type="text" name="titulo" ng-model="form.titulo" class="form-control" placeholder="Titulo" required />
			</div>

			<div class="form-group" ng-class="{ 'has-error' : newEvento.descripcion.$invalid && !newEvento.descripcion.$pristine }">
				<input type="text-area" name="descripcion" ng-model="form.descripcion" class="form-control" placeholder="Descripcion" required />
			</div>

			<div class="form-group" ng-class="{ 'has-error' : newEvento.fecha.$invalid && !newEvento.fecha.$pristine }">
				<div class="input-group">
					<input type="date" name="fecha" ng-model="form.fecha" class="form-control" placeholder="Fecha" datepicker-popup="{{format}}" is-open="opened" min-date="minDate" date-disabled="disabled(date, mode)" ng-click="open_calendar($event)" required />
					<span class="input-group-addon" ng-click="open_calendar($event)">Dia</span>
				</div>
			</div>

			<!-- <div class="form-group" ng-class="{ 'has-error' : newEvento.hora.$invalid && !newEvento.hora.$pristine }">
				<input type="time" name="hora" ng-model="form.hora" class="form-control" placeholder="Hora" required />
			</div> -->
			<div class="form-group">
				<input type="number" name="duracion" ng-model="form.duracion"  min="1" class="form-control" placeholder="Duracion" required />
			</div>
			<div class="form-group" ng-class="{ 'has-error' : newEvento.hora.$invalid && !newEvento.hora.$pristine }">
				<timepicker name="hora" ng-model="form.hora" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" required />
			</div>

			<accordion close-others="oneAtATime">
			    <accordion-group heading="Invitados {{selection}}" is-open="status.isFirstOpen" 
			    	is-disabled="status.isFirstDisabled">
			    	<div class="pull-right">
			    		<input type="text" ng-model="search" />
			    		<span class="glyphicon glyphicon-search"></span>
			    	</div>

			    	<ul>
			      		<li ng-repeat="user in users | searchUser:search">
						  	<input type="checkbox" name="selectedUsers[]" value="{{user.email}}" checklist-model="users.invitados"
						  		ng-checked="selection.indexOf(user.email) > -1" ng-click="toggleSelection(user.email)" checklist-value="user" /> {{user.email}}
						</li>
					</ul>
			    </accordion-group>
			</accordion>

			<div class="form-group">
				<button class="btn btn-success" type="submit" ng-disabled="newEvento.$invalid || isUnchanged(form)">Crear</button>
			</div>
		</form>
	</div>
</div>