<!DOCTYPE html>
<html ng-app="App">
<head>
  <title>GEOSJuntas</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div ng-controller="SessionCtrl">
	<button class="pull-rigth btn btn-danger" ng-click="logout()">Salir</button>
</div>

<div ng-view>
	<%= yield %>
</div>

</body>
</html>
